{{!< default}}

<div class="container">
	<div class="row">
		<div class="col-md-9" role="main">
			<h2>FancyProductName - The Search Aggregator</h2>
			<form class="form-inline" action="/" method="GET" role="form">
				<div class="form-group" for="search">
				Search Term
				{{#if query}}
					<input id="search" class="form-control" type="search" name="query" placeholder="Enter search term" value="{{query}}" style="width: 60%" />				
				{{else}}
					<input id="search" class="form-control" type="search" name="query" placeholder="Enter search term" style="width: 60%" />
				{{/if}}
				</div>
				<button class="btn btn-default btn-primary" type="submit">Search</button>				
			</form>
			{{#if query}}
				<h2>{{heading}}</h2>
				{{#if hasResults}}
					<p>| {{resultCount}} results have been found for <em>"#{{query}}"</em>| :</p>
					{{#each resultArrays}}
    					{{> aggregatorResult}}
  					{{/each}}
				{{else}}
					<p>No results for "{{query}}" :-(</p>
				{{/if}}
			{{/if}}
		</div>
	</div>
</div>