extends layout

block content

  //- Bootrap container boilerplate
  .container
    .row
      .col-md-9(role="main")

        h2 FancyProductName - The Search Aggregator

        //- query form
        form.form-inline(action="/", method="GET", role="form")
          .form-group(style="width: 100%")
            label.sr-only(for="search") Search Term
            if query
              input#search.form-control(type="search", name="query", placeholder="Enter search term", value="#{query}", style="width: 60%")
            else
              input#search.form-control(type="search", name="query", placeholder="Enter search term", style="width: 60%")

            button.btn.btn-default.btn-primary(type="submit") Search

        //- search results
        if query
          h2= heading
          if resultCount > 0
            p
              | #{resultCount} results have been found for
              em  "#{query}"
              | :

            for aggregatorResult in resultArrays
              for result in aggregatorResult
                h4: a(target='_new', href=result.url) #{result.title}
                if result.img
                  div: img(src=result.img)
                div= result.excerpt
                div.small= result.timestamp
          else
            p.
              No results for "#{query}" :-(
